<div class="item-details-header">
  {{#if item.isExternal}}
    <a href={{item.url}}>
      {{item.title}}
    </a>

    <span class="muted">
      {{item.domain}}
    </span>
  {{else}}
    {{item.title}}
  {{/if}}

  <div class="item-details-header-byline">
    <span>{{item.points}} points</span>

    <span>
      by

      {{#link-to 'user' item.user.id}}
        {{item.user.id}}
      {{/link-to}}
    </span>

    <span>
      {{item.time_ago}}
    </span>
  </div>
</div>

{{#if item.content}}
  <div class="item-details-body">
    {{item.commentText}}
  </div>
{{/if}}
