<div class="item-card-position">
  {{item.score}}
</div>

<div class="item-card-body">
  <div class="item-card-body-header">
    {{#if item.isExternal}}
      <a href={{item.url}}>
        {{item.title}}
      </a>

      <span class="muted">
        {{item.domain}}
      </span>
    {{else}}
      {{#link-to 'item' item.id}}{{item.title}}{{/link-to}}
    {{/if}}
  </div>

  <div class="item-card-body-footer">
    {{#if item.user.id}}
      by

      {{#link-to 'user' item.user.id}}
        {{item.user.id}}
      {{/link-to}}
    {{/if}}

    {{moment-from-now item.time}}

    {{#if (not-eq item.type 'job')}}
      |
      {{#link-to 'item' item.id}}
        {{item.comments_count}} comments
      {{/link-to}}
    {{/if}}
  </div>
</div>
