<div class="">
  <a href={{story.url}} target="_blank" rel="noopener noreferrer">
    {{story.title}}
  </a>

  ({{story.domain}})
</div>

<div class="">
  {{story.points}} points by {{story.user}} {{story.time_ago}} | {{story.comments_count}} comments
</div>
